/* Main Photo */
.photo-01 {
  background: url("../../images/layouts/sabrina/userpics/sabrina2025.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 360px; }

